*{
    font-size: large;
}

body {
    background-color: #333;
    color: #fff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  font-family: sans-serif;
}

main {
    
    background: beige;
    display: block;
}

.titulo{
    margin: auto;
    display: flex;
    width: 500px;
    height: 90px;
    
}

header {
    font-family:monospace;
}




/* Estilos para el menú de navegación */
nav {
    margin: 0 auto;
    background-color: black;
    color: #fff;
    padding: 0px;
    display: flex;
    justify-content: center;
  align-items: center;
    font-size: 1.2em
    
    
}


nav ul {
    list-style: none;
    display: flex;
    padding: 0px;
    margin: 0px;
    width: 100%;
    flex-direction: row;
 flex-wrap:wrap;
 justify-content: center;
    
}

nav ul li {
    display: flex;
    position: relative;
     float: center;
    padding: 15px 0px;
    margin: 0;
    width: 100%;
    justify-content: center;

    
}

nav ul li a {
    
    color: #fff;
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    display: block;
    padding: 10px;
    float: left;
    cursor: pointer;
    
  
}

li:hover { 
    background-color: darkgoldenrod;

}

/* Estilos para el submenú desplegable */
nav ul ul {
    display: none;
    position: absolute;
    top: 65px;
    background-color: #333;
    z-index: 1;
    width: 100%;
    justify-content: center;
    text-align: center;
     align-items: center;
  
     
}

nav ul li:hover > ul {
    display: flex;
    background-color: dimgrey;
    
}

nav ul ul li {
    width: 100%;
    margin: 0;
}

nav ul ul li a {
    padding: 10px;
    cursor: pointer;
}

/* For mobile phones: */
[class*="col-"] {
width: 100%;
}

@media only screen and (min-width: 600px) {
/* For tablets: */
.col-s-1 {width: 8.33%;}
.col-s-2 {width: 16.66%;}
.col-s-3 {width: 25%;}
.col-s-4 {width: 33.33%;}
.col-s-5 {width: 41.66%;}
.col-s-6 {width: 50%;}
.col-s-7 {width: 58.33%;}
.col-s-8 {width: 66.66%;}
.col-s-9 {width: 75%;}
.col-s-10 {width: 83.33%;}
.col-s-11 {width: 91.66%;}
.col-s-12 {width: 100%;}

}

@media only screen and (min-width: 768px) {
/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

}

.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: darkorange;
  color: black;
  padding: 10px;
    font-size: 1.2em;
  text-decoration: underline;
}

.back-to-top:hover {
  background-color: #555;
}


/* Estilo del Footer */

footer {
  background-color: #f2f2f2;
  padding: 5px;
  text-align: center;
  font-size: 14px;
  color: #666;
  margin-top: auto;
    font-family:monospace;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-info,
.footer-social {
  flex-basis: 48%;
  margin-bottom: 20px;
}

.footer-info h3,
.footer-social h3 {
  margin-bottom: 10px;
}

.footer-info p {
  margin: 0 0 10px 0;
}

.footer-social ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: center;
}

.footer-social li {
  margin: 0 10px;
}

.footer-social a {
  color: #666;
  font-size: 20px;
}

.footer-credits {
  margin-top: 20px;
}





