
article {
  display:flex;
flex-wrap: wrap;
 box-sizing: border-box;
    flex-direction: row;
    margin: auto 50px
    
}

li {
    margin: 0 0px;

}

h2{
    color: darkorange;
    font-size: 30px;
    margin: 10px 20px;
    font-family: fantasy;

}

.articulo {
  display:flex;
flex-wrap: wrap;
    flex-direction: row;

}

.lista {
  display:flex;
flex-wrap: wrap;
    flex-direction: row;

}

form {
    display: block;
    flex-wrap: wrap;
 box-sizing: border-box;
    flex-direction: row;
    
}

.container {
  width: auto;
  margin: 20px 40px;
  padding: 10px;
  box-sizing: border-box;
  background-color: #f2f2f2;
  border-radius: 10px;
  color: black;
    
}

.container2{
  width: auto;
  margin: 20px 40px;
  padding: 10px;
  box-sizing: border-box;
  background-color: #f2f2f2;
  border-radius: 10px;
  color: black;
   
}



label {
  font-weight: bold;
  margin-top: 10px;
}

input[type="text"],
input[type="number"] {
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
  border: none;
    background-color: #9B9B9B;
    display: flex;
}

input[type="radio"] {
  margin-right: 10px;
}

input[type="submit"] {
  padding: 10px 20px;
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  background-color: #4286f4;
  color: #fff;
  cursor: pointer;
}

/* Estilos de subtextos */
.feedback {
  margin-top: 5px;
}

.correct {
  color: green;
}

.incorrect {
  color: red;
}

.no-answer {
  color: darkorange;
}