h2 {
    
text-align: center;
    color: black;
    background-color: aliceblue;
    width: auto;
}


/* Estilo general para todo el formulario */
form {
  font-family: Arial, sans-serif;
  max-width: 500px;
  margin: 20px auto;
    width: 70%;
    background-color: #383838;
}

/* Estilo para los títulos de las preguntas */
label {
  display: block;
  font-weight: bold;
}

